{{#extends 'base'}}

{{#block "title"}}All Students{{/block}}

{{#block "content"}}
<h1>All Students</h1>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Music Tutor Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{students_first_name}}</td>
            <td>{{students_last_name}}</td>
            <td>{{date_of_birth}}</td>
            <td>{{name_of_qualification}}</td>
            <td>
                <a href="/students/{{student_id}}/edit" class="btn btn-primary btn-sm">Edit</a>
                <a href="/students/{{student_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}