{{#extends "base"}}

{{#block "title"}}Edit New Student{{/block}}

{{#block "content"}}
<h1>Edit New Student</h1>
<form method="POST">
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" 
               class="form-control" 
               name="first_name"
               value="{{student.first_name}}"/>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" 
               class="form-control" 
               name="last_name"
               value="{{student.last_name}}"
               />
    </div>
    <div class="mb-3">
        <label>Date of Birth</label>
        <input type="date" 
               class="form-control" 
               name="date_of_birth"
                value="{{student.date_of_birth}}">
    </div>
    <div class="mb-3">
        <label>Music Tutor Level </label>
        <select name="tutor_id" class="form-control">
            {{#each tutors}}
            <option value="{{tutor_id}}"
   {{#eq tutor_id ../student.tutor_id}}selected{{/eq}}>        
                {{name_of_qualification}}
               </option>
            {{/each}}
        </select>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
{{/block}}

{{/extends}}